---
import Layout from "../../layouts/Layout.astro";
import PlayButton from "@/components/CustomButtons/Play.astro";
import OptionsIcon from "@/assets/icons/Options.astro";

import { playlists } from "@/lib/playlists.ts";
import { featuredPlaylists } from "@/lib/featured-playlists";

import { playlistStrings } from "@/utils/strings";

import PlaylistHeader from "@/components/Headers/PlaylistHeader.astro";
import ImageSongCard from "@/components/Cards/SongCards/ImageSongCard.astro";

const { id } = Astro.params;
const data = [...playlists, ...featuredPlaylists];
const playlist = data.find((d) => d.id === id);
---

<Layout title="Spotify">
  <div
    id="playlist-container"
    class="relative flex flex-col h-full bg-background-base overflow-x-hidden"
  >
    <header class="flex flex-row gap-8 px-6 mt-12 py-2">
      <picture class="aspect-square w-52 h-52 flex-none">
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="object-cover w-full h-full shadow-lg"
        />
      </picture>

      <div class="flex flex-col">
        <h2 class="flex flex-1 items-end text-sm mt-8">Playlist</h2>
        <h1
          class={`font-bold mt-2 text-white ${
            playlist && playlist.title.length < 25 ? "text-8xl" : "text-5xl"
          }`}
        >
          {playlist?.title}
        </h1>
        {
          playlist && playlist.description.length > 0 && (
            <h2 class="text-gray text-sm">{playlist?.description}</h2>
          )
        }

        <div class="items-end text-sm text-gray font-normal">
          <span class="text-white font-bold mr-1">{playlist?.owner}</span>
          <span class="text-white mr-1">
            {" · " + playlist?.items.length + playlistStrings.songs}</span
          >
          <span class="text-gray">{playlistStrings.playlistDuration}</span>
        </div>
      </div>
    </header>

    <div class="flex flex-row gap-8 px-6 mt-12 items-center">
      <PlayButton />
      <OptionsIcon />
    </div>

    <section class="p-6">
      <table
        class="table-auto text-left min-w-full divide-y divide-gray-500/20"
      >
        <PlaylistHeader />
        <tbody>
          <tr class="h-[16px]"></tr>
          {
            playlist &&
              playlist.items.map((track, index) => (
                <ImageSongCard index={index} track={track} />
              ))
          }
        </tbody>
      </table>
    </section>
  </div>
</Layout>
