---
import type { Artist } from "@/lib/artists";

interface Props {
  artist: Artist;
}

const { artist } = Astro.props;
const { id, name, color, cover, href, type } = artist;
---

<a
  href={href}
  class="artist-item flex relative px-4 py-2 overflow-hidden items-center gap-5 rounded-md hover:bg-background-highlight"
>
  <picture class="h-12 w-12 flex-none">
    <img
      src={cover}
      alt={`Cover image of ${name}`}
      class="object-cover w-full h-full rounded-full"
    />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-white text-sm font-light">{name}</h4>
    <span class="text-gray text-sm">{`${type}`}</span>
  </div>
</a>
