---
import type { Playlist } from "@/lib/playlists";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, title, color, cover, owner, href, type } = playlist;
---

<a
  href={href}
  class="playlist-item flex relative px-4 py-2 overflow-hidden items-center gap-5 rounded-md hover:bg-background-highlight"
>
  <picture class="h-12 w-12 flex-none">
    <img
      src={cover}
      alt={`Cover image of ${title}`}
      class="object-cover w-full h-full rounded-md"
    />
  </picture>
  <div class="flex flex-auto flex-col truncate">
    <h4 class="text-white text-sm font-light">{title}</h4>
    <span class="text-gray text-sm">{`${type} · ${owner}`}</span>
  </div>
</a>
