---
import PlaylistSideCard from "@/components/Cards/PlaylistSideCard.astro";
import AlbumSideCard from "@/components/Cards/AlbumSideCard.astro";
import ArtistSideCard from "@/components/Cards/ArtistSideCard.astro";
import SideNavItem from "@/components/SideNavItem.astro";

import LibraryIcon from "@/assets/icons/Library.astro";
import SearchOutlineIcon from "@/assets/icons/SearchOutline.astro";
import HomeOutlineIcon from "@/assets/icons/HomeOutline.astro";

import { playlists } from "@/lib/playlists";
import { albums } from "@/lib/albums";
import { artists } from "@/lib/artists";
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-background-side-color rounded-lg p-2">
    <ul>
      <SideNavItem href="/" item={HomeOutlineIcon} text="Home" />
      <SideNavItem href="/#" item={SearchOutlineIcon} text="Search" />
    </ul>
  </div>

  <div class="bg-background-side-color rounded-lg p-2 flex-1">
    <ul>
      <SideNavItem href="/#" item={LibraryIcon} text="Your Library" />
      {playlists.map((playlist) => <PlaylistSideCard playlist={playlist} />)}
      {albums.map((album) => <AlbumSideCard album={album} />)}
      {artists.map((artist) => <ArtistSideCard artist={artist} />)}
    </ul>
  </div>
</nav>
